# Bundler
.bundle
vendor
Gemfile.lock

# Jekyll
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM
node_modules
package-lock.json

# Build output
_sass/dist
assets/js/dist

# IDE
.idea
.vscode
